src/main/resources/calculation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.soap.com/service/calculation"
	xmlns:tns="http://www.soap.com/service/calculation"
	elementFormDefault="qualified">
	<xsd:element name="CalculationRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="input1" type="xsd:int"/>
				<xsd:element name="input2" type="xsd:int"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CalculationResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="output" type="xsd:int"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>